body {
  background-image: url(../img/fancy-cushion.webp);
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(181, 108, 40,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}